<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <title>Presentatio DATA</title>
</head>

<body>
    <canvas id="ctx" height="5000"></canvas>
    <script>
        function extractFields(data, local) {
            let extractField = [];
            if (local === 1) {
                data.forEach((key) => {
                    extractField.push(key['counter']);
                });
                return extractField;
            } else if (local === 2) {
                        extractField.push(data['counter'])
                return extractField;
            } else {
                data.forEach((key) => {
                    extractField.push(key['Description']);
                });
                return extractField;
            }

        }
        fetch('http://localhost:3000/db').then(res => {
            return res.json();
        }).then(data => {
            console.log(data);
            const ctx = document.getElementById("ctx").getContext('2d');
            console.log(Chart.defaults.scale.ticks);
            Chart.defaults.scale.beginAtZero = true;
            const myBarChart = new Chart(ctx, {
                type: 'horizontalBar',
                data: {
                    labels: extractFields(data),
                    datasets: [{
                        label: extractFields(data, 2),
                        data: extractFields(data, 1),
                        backgroundColor: random_rgba(data.length),
                        borderWidth: 2,
                        borderColor: '#777',
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Gráfico de uso de Telas',
                        fontSize: 25
                    },
                    legend: {
                        display: false,
                    },
                    scales: {
                        xAxes: [{
                            stacked: true
                        }]
                    }

                }
            });
        })

        function random_rgba(l) {
            let arr = [];
            for (let index = 0; index < l; index++) {
                var o = Math.round, r = Math.random, s = 255;
                arr =  [...arr,'rgba(' + o(r() * s) + ',' + o(r() * s) + ',' + o(r() * s) + ',' + r().toFixed(1) + ')'];
            }
            return arr;
        }

    </script>
</body>

</html>